<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId: '{766585527398255}',
            cookie: true,
            xfbml: true,
            version: '{v9.0}'
        });

        FB.AppEvents.logPageView();

    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="login-logo">
        <img src="assets/img/appicon.svg" alt="Ionic logo">
    </div>

    <form #loginForm="ngForm" novalidate>
        <ion-list>
            <ion-item>
                <ion-label position="stacked" color="primary">Username</ion-label>
                <ion-input name="username" [(ngModel)]="cliente.correo" type="text" spellcheck="false" autocapitalize="off" required>
                </ion-input>
            </ion-item>



            <ion-item>
                <ion-label position="stacked" color="primary">Password</ion-label>
                <ion-input name="password" [(ngModel)]="cliente.contrasena" type="password" required>
                </ion-input>
            </ion-item>


        </ion-list>

        <ion-row>
            <ion-button color="light" (click)="logInFacebook()" class="facebook"></ion-button>
            <ion-col>
                <ion-button (click)=" loInCliente() " type="submit " expand="block ">Login</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="registroCliente() " color="light " expand="block ">Registrate</ion-button>
            </ion-col>
        </ion-row>
    </form>